---
import Layout from "../layouts/Layout.astro";
import Hero from "../blocks/Hero.astro";
import About from "../blocks/About.astro";
import Skills from "../blocks/Skills.astro";
import Projects from "../blocks/Projects.astro";
import Footer from "../blocks/Footer.astro";
---

<Layout title="Arnaud De Burchgraeve">
	<main>
		<Hero />
		<About />
		<Skills />
		<Projects />
		<Footer />
	</main>
</Layout>
