---
import Layout from "../layouts/Layout.astro";
import Hero from "../blocks/Hero.astro";
import About from "../blocks/About.astro";
import Skills from "../blocks/Skills.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<About />
		<Skills />
	</main>
</Layout>
