---
export interface Props {
	title: string;
	className?: string;
}

const { title, className } = Astro.props;
---

<h2 class=`text-4xl xl:text-6xl font-serif uppercase mask-container ${className}`>{title}</h2>
