---
export interface Props {
	title: string;
	className?: string;
}

const { title, className } = Astro.props;
---

<h2 class=`text-5xl uppercase font-serif mask-container  ${className}`>{title}</h2>
