---
export interface Props {
	size?: "sm" | "lg";
	className?: string;
}

const { size, className } = Astro.props;
---

<p
	class=` leading-8 xl:leading-10 ${size === "sm" ? "text-sm xl:text-lg" : "text-xl xl:text-2xl"} ${className}`>
	<slot />
</p>
