---
import { Image } from "@astrojs/image/components";
import Button from "../../components/Button.astro";
import ProjectDetail from "../../blocks/ProjectDetail.astro";
import P from "../../components/P.astro";
import Footer from "../../blocks/Footer.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const pages = [
		{
			slug: undefined,
			title: "Astro Store",
			text: "Welcome to the Astro store!",
		},
		{
			slug: "inclusionweb",
			title: "Astro products",
			text: "We have lots of products for you",
		},
		{
			slug: "de-lariks",
			title: "The ultimate Astro handbook",
			text: "If you want to learn Astro, you must read this book.",
		},
	];
	return pages.map(({ slug, title, text }) => {
		return {
			params: { slug },
			props: { title, text },
		};
	});
}

const { title, text } = Astro.props;
---

<Layout title="Project | Arnaud De Burchgraeve">
	<main>
		<section class="layout-wrapper pt-16">
			<a class="block" href="/">
				<svg class="w-14 pl-2" viewBox="0 0 730 395"
					><path d="M209,383l-11,12L0,197,198,0l11,12L32,189H730v17H32Z" fill-rule="evenodd"
					></path></svg
				>
			</a>
			<div class="relative my-20 flex flex-col justify-between">
				<div class="flex items-center justify-between">
					<span class="font-serif text-9xl uppercase">{title}</span>
					<span class="text-5xl opacity-20">/22</span>
				</div>
				<P size="sm">Webdesign, Webdevelopment</P>
			</div>
		</section>
		<Image
			src="/images/test-image.jpg"
			alt="Inclusionweb"
			class="w-full"
			width={1000}
			height={250}
		/>
		<div class="layout-wrapper my-20">
			<P size="lg" className="w-1/2 mb-10">
				Alex Becher is a digital marketing expert. With years of experience under his belt, he
				excels at helping businesses increase brand awareness through social media management and
				the power of strong visuals.
			</P>
			<div class="mb-16">
				<ProjectDetail title="Project" description="Inclusionweb" />
				<ProjectDetail title="Project" description="Inclusionweb" />
				<ProjectDetail title="Project" description="Inclusionweb" />
				<ProjectDetail title="Project" description="Inclusionweb" />
			</div>
			<Button label="Visit Website" href="" />
		</div>

		<div class="layout-wrapper my-28">
			<Image
				src="/images/test-image.jpg"
				alt="Inclusionweb"
				class="my-4 w-full"
				width={1000}
				height={350}
			/>
			<Image
				src="/images/test-image.jpg"
				alt="Inclusionweb"
				class="my-4 w-full"
				width={1000}
				height={350}
			/>
			<Image
				src="/images/test-image.jpg"
				alt="Inclusionweb"
				class="my-4 w-full"
				width={1000}
				height={350}
			/>
			<Image
				src="/images/test-image.jpg"
				alt="Inclusionweb"
				class="my-4 w-full"
				width={1000}
				height={350}
			/>

			<div class="my-12 flex items-end justify-between">
				<div class="flex flex-col px-0">
					<P size="sm">Next Project</P>
					<a class="font-serif text-4xl uppercase">Inclusionweb</a>
				</div>
				<button class="relative h-12 w-12 rotate-90 rounded-full border-[1px] border-black">
					<svg class="absolute-center" width="22.52" height="27.261" viewBox="0 0 471 464"
						><path d="M37,242H471V222H37L246,14,232,0,0,232,232,464l14-14Z" fill-rule="evenodd"
						></path></svg
					>
				</button>
			</div>
		</div>
		<Footer />
	</main>
</Layout>
