---
import Button from "../components/Button.astro";
import H2 from "../components/H2.astro";
import P from "../components/P.astro";
---

<section class="about layout-wrapper py-48">
	<H2 title="About myself" className="mb-8  " />
	<P className="xl:w-1/2 mb-12">
		Hi, I’m Arnaud De Burchgraeve. A junior front-end developer who has a passion for graphic
		design. In 2021, I’ve decided to take a first step in making my dream a reality by studying web
		development, with only one clear goal in mind: building state-of-the-art, user-friendly websites
		and applications. I am a motivated, creative and problem-solving developer with hands-on skills
		in a wide range of development and design tools. This will allow me to create intuitive, dynamic
		user experiences. In rare occasions when I’m not in front of my computer, you might find me in
		an attempt to climb a mountain, have a good time with my kids or eat cheese fondue.
	</P>
	<Button label="Send message" href="mailto:arnauddbu@gmail.com" />
</section>
