---
import Button from "../components/Button.astro";
import H2 from "../components/H2.astro";
import P from "../components/P.astro";
---

<section class="about layout-wrapper invisible py-32">
	<H2 title="About myself" className="mb-8 " />
	<div class="about__body">
		<P className="md:w-2/3 lg:w-1/2 mb-6 white">
			Hey, I'm Arnaud De Burchrgaeve, a junior full stack developer with a passion for front-end
			development. I'm all about learning and exploring new horizons.
		</P>
		<P className="md:w-2/3 lg:w-1/2 mb-6 white">
			In 2021, I took the first step towards making my dream a reality: studying web development. My
			clear goal is to create state-of-the-art, user-friendly websites and applications. As a
			motivated and creative problem-solver, I possess hands-on skills in a wide range of
			development and design tools. This allows me to craft intuitive and dynamic user experiences.
		</P>
		<P className="md:w-2/3 lg:w-1/2 mb-12 white">
			When I'm not in front of my computer, you might find me exploring mountains, enjoying quality
			time with my kids, or indulging in some cheese fondue.
		</P>

		<Button label="Send message" href="mailto:arnauddbu@gmail.com" />
	</div>
</section>
