---
---

<section class="contact layout-wrapper h-screen">
	<div class="relative top-1/2 flex -translate-y-1/2 flex-col items-center">
		<a href="#">
			<div
				class="circle relative mb-8 h-[15rem] w-[15rem] rounded-full border-2 border-black opacity-10">
				<svg
					class="icon absolute-center h-[10rem] w-[10rem]"
					xmlns="http://www.w3.org/2000/svg"
					width="200"
					height="200"
					viewBox="0 0 196.159 145.646"
					><path
						d="M60.843,120.419,55.074,153.6l23.59-23.4ZM45.514,106.768l151.3-98.814L7.537,82.156Zm59.022,33.447L203.7,9.234,63.03,117.247l19.511,10.716h.018ZM173.013,28.036,47.4,110.057l5.168,37.485,5.281-30.383v-.01c.018-.088.1-.137.131-.216s-.017-.168.018-.257c.069-.158.227-.2.331-.324.1-.149.114-.336.253-.444h.008a.106.106,0,0,1,.035-.029Z"
						transform="translate(-7.537 -7.954)"></path></svg
				>
			</div>
		</a>
		<span
			class="title mask-container mb-2 font-serif text-6xl uppercase leading-none md:text-7xl xl:text-8xl 2xl:text-9xl"
			>Get in touch</span
		>
		<span class="text text-center text-lg font-light opacity-0 xl:text-xl 2xl:text-2xl">
			Let’s talk about a project, collaboration <br /> or an idea you may have</span
		>
	</div>
</section>
