---
import HorizontalLine from "../components/HorizontalLine.astro";
---

<footer class="layout-wrapper">
	<HorizontalLine />
	<ul class="flex items-center justify-center gap-4 py-4 text-white">
		<li><a class="hover:text-red" href="">Behance</a></li>
		<li><a class="hover:text-red" href="">Github</a></li>
		<li><a class="hover:text-red" href="">Linkedin</a></li>
		<li><a class="hover:text-red" href="">E-mail</a></li>
	</ul>
</footer>
