---
import { Image } from "@astrojs/image/components";
---

<div class="layout-wrapper flex h-screen flex-col justify-between py-12">
	<div class="flex flex-col justify-between gap-3 xl:flex-row">
		<div class="hero-attribute flex flex-col">
			<span
				class="position mask-container whitespace-nowrap font-serif text-4xl uppercase xl:text-9xl"
				>Full stack</span
			>
			<span class="position mask-container font-serif text-4xl uppercase xl:text-9xl"
				>developer</span
			>
			<span class="positionDetail mask-container font-sans text-xs uppercase xl:text-2xl"
				>- Front end addicited</span
			>
		</div>
		<div class="hero-attribute img-container">
			<Image
				src="/images/portret.jpg"
				alt="Portret Arnaud De Burchgraeve"
				class="img h-fit w-32 object-contain xl:w-96"
				width={300}
				height={450}
			/>
		</div>
	</div>
	<div class="flex items-end justify-between">
		<div class="hero-attribute scroll mask-container flex flex-col items-center gap-1 xl:gap-2">
			<Image
				src="/icons/arrow-down.svg"
				alt="Arrow Icon"
				width={40}
				height={47.5}
				class="w-4 object-contain xl:w-7"
			/>
			<span class="text-xs uppercase xl:text-lg">Scroll</span>
		</div>
		<div
			class="hero-attribute flex flex-col items-end whitespace-nowrap font-serif text-4xl uppercase xl:text-9xl">
			<span class="name mask-container">Arnaud</span>
			<span class="name mask-container">De Burchgraeve</span>
		</div>
	</div>
</div>
