---
import H2 from "../components/H2.astro";
import Project from "./Project.astro";
---

<section class="layout-wrapper">
	<div class="flex justify-between bottom-line items-end pb-5">
		<H2 title="Selected work" />
		<p>A piece of my selection of favorites</p>
	</div>
	<Project title="Inclusionweb" categories="Webdevelopment, Webdesign" year="22" />
	<Project title="Inclusionweb" categories="Webdevelopment, Webdesign" year="22" />
	<Project title="Inclusionweb" categories="Webdevelopment, Webdesign" year="22" />
	<Project title="Inclusionweb" categories="Webdevelopment, Webdesign" year="22" />
</section>
