---
import H2 from "../components/H2.astro";
import HorizontalLine from "../components/HorizontalLine.astro";
import P from "../components/P.astro";
import Project from "./Project.astro";
---

<section class="projects layout-wrapper invisible">
	<div class="projects__header">
		<div class="flex items-end justify-between pb-5">
			<H2 title="Selected work" />
			<P size="sm" className="hidden xl:block xl:opacity-100">
				A piece of my selection of favorites
			</P>
		</div>
		<HorizontalLine />
	</div>
	<div class="projects__body">
		<Project
			href="/projects/inclusionweb"
			title="Inclusionweb"
			categories="Webdesign, Webdevelopment"
			year="23"
		/>
		<Project
			href="/projects/de-lariks"
			title="De Lariks"
			categories="Webdesign, Webdevelopment"
			year="22"
		/>
		<Project
			href="/projects/self-order-kiosk"
			title="Sushi 'n Roll"
			categories="Webdesign, Webdevelopment"
			year="22"
		/>
	</div>
</section>
