---
import H2 from "../components/H2.astro";
import Project from "./Project.astro";
---

<section class="projects layout-wrapper invisible">
	<div class="projects__header">
		<div class="flex items-end justify-between pb-5">
			<H2 title="Selected work" />
			<p>A piece of my selection of favorites</p>
		</div>
		<hr class="division-line" />
	</div>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/de-lariks"
		title="De Lariks"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
</section>
