---
export interface Props {
	title: string;
	categories: string;
	year: string;
	href: string;
}

const { title, categories, year, href } = Astro.props;
---

<a href={href} class="project bottom-line relative flex flex-col justify-between py-20">
	<div class="flex items-center justify-between">
		<span class="font-serif text-8xl uppercase">{title}</span>
		<span class="text-5xl opacity-20">/{year}</span>
	</div>
	<p>{categories}</p>
</a>
