---
import H2 from "../components/H2.astro";
import Project from "./Project.astro";
---

<section class="layout-wrapper">
	<div class="bottom-line flex items-end justify-between pb-5">
		<H2 title="Selected work" />
		<p>A piece of my selection of favorites</p>
	</div>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/de-lariks"
		title="De Lariks"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
	<Project
		href="/projects/inclusionweb"
		title="Inclusionweb"
		categories="Webdevelopment, Webdesign"
		year="22"
	/>
</section>
