---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="bottom-line flex items-center py-4 md:w-2/3 lg:w-1/2">
	<span class="w-48">{title}</span>
	<span class="font-light">{description}</span>
</div>
