---
import P from "../components/P.astro";
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="skill flex flex-col justify-between">
	<span class="mb-10 text-5xl opacity-20">01</span>
	<div>
		<span class="mb-4 block text-4xl">{title}</span>
		<P size="sm" className=" w-2/3 xl:w-full">{description}</P>
	</div>
</div>
<hr class="h-[1.5px] w-full bg-black opacity-20 xl:h-full xl:w-[1.5px]" />
