---
import H2 from "../components/H2.astro";
import Skill from "../blocks/Skill.astro";
---

<section class="skills layout-wrapper py-48">
	<H2 title="I can help you..." />
	<div
		class="skills__body my-16 flex flex-col gap-12 xl:my-20 xl:h-96 xl:flex-row xl:items-center xl:gap-20 2xl:gap-28">
		<Skill
			number="01"
			title="Design"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
		<hr class="h-[1.5px] w-full bg-grey opacity-0 xl:h-full xl:w-[3px]" />
		<Skill
			number="02"
			title="Development"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
		<hr class="h-[1.5px] w-full bg-grey opacity-0 xl:h-full xl:w-[3px]" />
		<Skill
			number="03"
			title="Full packet"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
	</div>
</section>
