---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="flex flex-col justify-between">
	<span class="text-5xl opacity-20 mb-10">01</span>
	<div>
		<span class="text-4xl mb-4 block">{title}</span>
		<p class="text-lg">{description}</p>
	</div>
</div>
