---
import H2 from "../components/H2.astro";
import Skill from "../blocks/Skill.astro";
---

<section class="skills layout-wrapper invisible py-32">
	<H2 title="My skillls" />
	<div
		class="skills__body 2xl:gap-18 my-16 flex flex-col gap-12 xl:my-20 xl:h-96 xl:flex-row xl:items-center xl:gap-20">
		<Skill
			number="01"
			title="I design"
			description="With my expertise in creating creative and eye-catching digital graphics like logos or brochures, I have the power to visually captivate audiences, leaving a lasting impression that sets brands apart from the competition."
		/>
		<hr class="h-[1.5px] w-full bg-grey opacity-0 xl:h-full xl:w-[1px]" />
		<Skill
			number="02"
			title="I build"
			description="My passion lies in crafting modern, easy-to-use, and human-centered user interface designs that not only enhance user experiences but also elevate brands to new heights, ensuring that every interaction feels intuitive and delightful."
		/>
		<hr class="h-[1.5px] w-full bg-grey opacity-0 xl:h-full xl:w-[1px]" />
		<Skill
			number="03"
			title="I develop"
			description="By combining my skills in user-friendly design principles and cutting-edge technologies, I specialize in developing fully responsive websites that seamlessly adapt to various devices, providing users with an exceptional browsing experience at their fingertips."
		/>
	</div>
</section>
