---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div class="skill flex flex-col justify-between">
	<span class="mb-10 text-5xl opacity-20">01</span>
	<div>
		<span class="mb-4 block text-4xl">{title}</span>
		<p class="text-lg">{description}</p>
	</div>
</div>
