---
import H2 from "../components/H2.astro";
import Skill from "../blocks/Skill.astro";
---

<section class="skills layout-wrapper invisible py-48">
	<H2 title="I can help you..." />
	<div class="my-24 flex flex-col gap-12 xl:h-96 xl:flex-row xl:gap-28">
		<Skill
			title="Design"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
		<Skill
			title="Development"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
		<Skill
			title="Full packet"
			description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum doloribus hic quasi maxime, recusandae, soluta, perferendis deserunt asperiores inventore quae libero. Expedita sed et veritatis nihil magnam, asperiores saepe recusandae."
		/>
	</div>
</section>
